<footer class="footer">
  <small>
    The <a class="link" href="#">Rails Practice</a>
    by <a class="link" href="#">Carlos Ricardo Mora Sánchez</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
</footer>
